@charset "utf-8";
/* CSS Document */


body{
    background: #D8D8D8;
}

.container {
    width: 1000px;
    margin: 0 auto;
    padding-top: 20px;
}

#content {
    background-color: #FFFFFF;
    padding-bottom: 2em;
    -webkit-box-shadow: 5px 5px 20px #606060 ;
    -webkit-border-radius: 3px;
}