@charset "utf-8";
/* CSS Document */

body, div, h1, h2, h3, h4, h5, h6, p, ul, img {margin:0px; padding:0px; }

a:link {
    color:#000000;
    text-decoration:none
}
a:visited {
    color:#000000;
}
a:hover {
    color:#707070;
}

body{
    background: #D8D8D8 url('../images/bg.png') repeat;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}
.logo {
	width: 250px;
	height: 108px;
	background: url('../images/logo.png') no-repeat;
	display: block;
	margin: 30px 0;
}
#content {
    background-color: #FFFFFF;
    padding: 2em;
    -webkit-box-shadow: 5px 5px 20px #606060 ;
    -webkit-border-radius: 3px;
}

#content #top {
    text-shadow: #fff 1px 1px 3px;
    background: -webkit-gradient(linear, left top, left bottom, from(#F1F1F1), to(#D8D8D8));
    border-bottom: 1px solid #eee;
    text-transform: uppercase;
}

#content #head {
    float:left;
}

#content #year {
    float:right;
}

#visual {
    border: 2px solid;
    border-color: #D8D8D8;
    height: 350px;
}

#content table
{
    width:100%;
    border-collapse: collapse;
}

#content table tbody td {
    padding: 3px 5px 3px 5px;
    border-bottom: 1px solid #eee;
}

#content table tbody tr:hover {
    background-color: #DDE7F0;
}

#content table thead th {
    background: -webkit-gradient(linear, left top, left bottom, from(#F1F1F1), to(#D8D8D8));
}

#right {
    text-align: right;
}

#sum {
    border-bottom: none;
    border-top: 2px solid #333;
    text-align: right;
    font-weight:bold;
}

piechart{
    display:none;
    width:997px;
    height:350px;
}​

.menu {
	list-style: none;
}