<div id="top">
    <h3><a href="#">Proris</a><span class="arrow-e"></span>Skupine proračunskih uporabnikov</h3>
</div>
<div id="head">
    <h2>Skupine proračunskih uporabnikov</h2>
</div>
<div id="year">
    Leto
	<select onchange="window.open(this.value,'_self');">
		<option value="#">Izberi leto</option>
		<option value="#/bug/{{ y.year }}" ng-repeat="y in yList">{{ y.year }}<option>
	<select>
</div>
<div style="clear:both;"></div>
<div id="visual">
    <div>
	    <div ng-controller='BUGCtrl'>
	        <piechart ng-model='pie'>        
	        </piechart>
	    </div>
	</div>
</div>
<table>
    <thead>
    <tr>
        <th>Postavka</th>
        <th width="15%">Izdatek</th>
        <th width="10%">Delež</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="branch in its.list">
        <td><a href="#/bug/{{year}}/{{branch.id}}">{{branch.name}}</a></td>
        <td id="right"> {{ branch.value  | number:0 }} €</td>
        <td id="right"> {{ branch.percent | number:2 }} %</td>
    </tr>
    </tbody>
    <tfoot>
    <tr id="sum">
        <td>Skupaj:</td>
        <td>{{ its.sum | number:0 }} €</td>
        <td></td>
    </tr>
    </tfoot>
</table>
