<div id="top">
    <h3><a href="#">Proris</a>->Kategorije</h3>
</div>
<h2>Kategorije</h2>
<div id="visual">
	<div>
	    <div ng-controller='PBCtrl'>
	        <piechart ng-model='pie'>        
	        </piechart>
	    </div>
	</div>
</div>
<table>
    <thead>
        <tr>
            <th>Postavka</th>
            <th width="15%">Izdatek</th>
            <th width="10%">Delež</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="branch in its.list">
            <td><a href="#/pb/{{year}}/{{branch.id}}">{{branch.name}}</a></td>
            <td id="right"> {{ branch.value  | number:0 }} €</td>
            <td id="right"> {{ branch.percent | number:2 }} %</td>
        </tr>
    </tbody>
    <tfoot>
    <tr id="sum">
        <td>Skupaj:</td>
        <td>{{ its.sum | number:0 }} €</td>
        <td></td>
    </tr>
    </tfoot>
</table>
