<div id="top">
    <h3><a href="#">Proris</a>-><a href="#">Kategorije</a>-></h3>
</div>
<h2>header</h2>
<div id="visual">
    <div>
	    <div ng-controller='PBItemPieCtrl'>
	        <piechart ng-model='data'>        
	        </piechart>
	    </div>
	</div>
</div>
<table>
    <tr>
        <th>Postavka</th>
        <th width="15%">Izdatek</th>
        <th width="10%">Delež</th>
    </tr>
    <tr ng-repeat="branch in its">
        <td>{{branch.name}}</td>
        <td> {{ branch.value }} </td>
        <td> {{ branch.percent }} </td>
    </tr>
</table>
