<script>
    function magic(){
        $("tbody > tr:odd").addClass("odd");

        var url = window.location.href;
        $("#yearSelect option").each(function(){
            $(this).attr('selected', false);
            if(url.indexOf($(this).text()) !== -1)
            {
                $(this).prop('selected', true).change();
            }
        });
    };
    setTimeout(magic,100);
</script>

<div id="top">
    <h3><a href="#">Proris</a><span class="arrow-e"></span><a href="#/pb/{{ year }}">Kategorije</a><span class="arrow-e"></span>{{ its.name }}</h3>
</div>
<div id="head">
    <h2>{{ its.name }}</h2>
	<div id="year">
		Leto
		<select id="yearSelect" onchange="window.open(this.value,'_self');">
			<option value="#/pb/{{ y.year }}/{{ pbid }}" ng-repeat="y in yList">{{ y.year }}</option>
		</select>
	</div>
</div>
<div style="clear:both;"></div>
<div id="visual">
    <div>
	    <div ng-controller='PBItemCtrl'>
	        <piechart ng-model='pie'>        
	        </piechart>
	    </div>
	</div>
</div>
<table>
    <thead>
    <tr>
        <th>Postavka</th>
        <th width="15%">Izdatek</th>
        <th width="10%">Delež</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="branch in its.list">
        <td>{{branch.name}}</td>
        <td id="right"> {{ branch.value  | number:0 }} €</td>
        <td id="right"> {{ branch.percent | number:2 }} %</td>
    </tr>
    </tbody>
    <tfoot>
    <tr id="sum">
        <td>Skupaj:</td>
        <td>{{ its.sum | number:0 }} €</td>
        <td></td>
    </tr>
    </tfoot>
</table>