{% load staticfiles %}<!DOCTYPE html>
<html lang="en" {% block html_attributes %}{% endblock %}>
    <head>
        <meta charset="utf-8">
        <title>Proris</title>
        <link rel="stylesheet" type="text/css" href="{% static 'webapp/styles/style.css' %}">
        <script src="{% static 'webapp/lib/jquery.js' %}"></script>
        <script src="{% static 'webapp/lib/jquery.flot.js' %}"></script>
        <script src="{% static 'webapp/lib/jquery.flot.pie.js' %}"></script>
        <script src="{% static 'webapp/lib/angular.js' %}"></script>
        <script src="{% static 'webapp/lib/angular_resource.js' %}"></script>
        <script src="{% static 'webapp/js/services.js' %}"></script>
        <script src="{% static 'webapp/js/controllers.js' %}"></script>
        <script src="{% static 'webapp/js/app.js' %}"></script>
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>
