<!doctype html>
<html>
	<head>
        <meta charset="utf-8">
        <title>Proris</title>
        {% load staticfiles %}
        <link href="{% static "webapp/styles/index.css" %}" rel="stylesheet" type="text/css">
	</head>
    
    <body>
    	<div class="container">
        	<div id="header" >
            	<h1>Proris</h1>
            </div><!-- end header-->
			
            <div id="content">
                <div id="top">
                    <h3>Path->To->View</h3>
                </div>
                <h2>Naslov</h2>
                <div id="visual">
                    <p>Data visualisation (AJAX, HTML5, Javascript) - TODO</p>
                </div>
                <table>
                        <tr>
                            <th>Naslov</th>
                            <th>Izdatek</th>
                        </tr>
                    {% if branch_list %}

                        {% for br in branch_list %}
                            <tr>
                                <td>{{ br.name }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <p>No polls political branches available.</p>
                    {% endif %}
                </table>
            </div><!-- end content-->
                
            <div id="footer">
			
            </div><!-- end footer-->
        </div>
    </body>
</html>
