{% extends "webapp/base.html" %}

{% block html_attributes %}ng-app="proris"{% endblock %}

{% block content %}
    <div class="container">
        <div id="header" >
			<a href="#"><div class="logo" title="PRORIS"></div></a>
			<a href="https://plus.google.com/share?url=http://proris.k0s.si/" title="Google Plus" target="_blank"><div class="social-slide google"></div></a>
			<a href="http://www.facebook.com/sharer.php?u=http://proris.k0s.si/" title="Facebook" target="_blank"><div class="social-slide facebook"></div></a>
            <a href="http://twitter.com/intent/tweet?source=sharethiscom&text=Oglej si slovenski proračun&url=http://proris.k0s.si/" title="Twitter" target="_blank"><div class="social-slide twitter"></div></a>
        </div><!-- end header-->
        <div ng-view id="content"></div>
        <div id="footer">

            <div class="social-single">

                <!-- Facebook's Like Button -->
                <div id="likebutton">
                    <div id="fb-root"></div>
                    <script>(function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));</script>
                    <div class="fb-like" data-href="http://proris.k0s.si" data-send="true" data-width="200" data-show-faces="true" data-font="verdana"></div>
                </div>

                <!-- Google Plus One Button -->
                <div id="plusone"><script type="text/javascript" src="http://apis.google.com/js/plusone.js"></script>
                    <div class="g-plus" data-action="share"></div>
                    <script type="text/javascript">
                        (function() {
                            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                            po.src = 'https://apis.google.com/js/plusone.js';
                            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                        })();
                    </script>
                </div>

                <!-- Twitter's Tweet Button -->
                <div id="twitterbutton"><a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-url="http://proris.k0s.si">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></div>

            </div><br />

        </div><br />
        </div><!-- end footer-->
    </div>
{% endblock %}
