<!doctype html>
<html>
	<head>
        <meta charset="utf-8">
        <title>Proris</title>
        {% load staticfiles %}
        <link href="{% static "webapp/styles/index.css" %}" rel="stylesheet" type="text/css">
	</head>
    
    <body>
    	<div class="container">
        	<div id="header" >
            	<h1>Proris</h1>
            </div><!-- end header-->
			
            <div id="content">
                <div id="top">
                    <h3>Razdelitev</h3>
                </div>
                <ul>
                    <li><a href="pb/2013">Kategorije</a></li>
                    <li><a href="bug/2013">Skupine proračunskih uporabnikov</a></li>
                </ul>
            </div><!-- end content-->
                
            <div id="footer">
			
            </div><!-- end footer-->
        </div>
    </body>
</html>
