{% extends "webapp/base.html" %}

{% block content %}
    <div id="top">
        <h3>{{ path }}</h3>
    </div>
    <h2>{{ header }}</h2>
    <div id="visual">
        <p>Data visualisation (AJAX, HTML5, Javascript) - TODO</p>
    </div>
    {% if list %}
        <table>
            <tr>
                <th>Postavka</th>
                <th width="15%">Izdatek</th>
                <th width="10%">Delež</th>
            </tr>
            {% for br in list %}
                <tr>
                    <td><a href="{{ br.id }}">{{ br.name }}</a></td>
                    <td>{{ br.value|floatformat:"0" }} €</td>
                    <td>{{ br.percent|floatformat:"2" }} %</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No data available.</p>
    {% endif %}
{% endblock %}

